<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="../Content/style.css">
    <title>Gathering Log In form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <!--//Style-CSS -->
    <link rel="stylesheet" hre f="../Content/font-awesome.min.css" type="text/css" media="all">

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
